<div class="mainContainer appBg">
    <div class="welcomeBlock">
        <h1>{{title}}</h1>
    </div>

    <div class="mainContent">

        <div *ngIf="user.uid | async as uid; else login">
            The user is logged in. {{uid}}
            <div *ngIf="user.isAdmin | async">You are an administrator.</div>
            <div>
                <button class="btn btn-block btn-social btn-danger" (click)="user.logout()">Logout</button>
            </div>
        </div>

        <ng-template #login>
            <p style="text-align: center;">Please login:</p>

            <button class="btn btn-primary btn-block btn-social" (click)="user.login(null)">
                <span class="fa fa-mail-forward"></span>Login with Email
            </button>

            <div *ngIf="user.loginWithEmail" class="loginEmailSection">
                <form class="emailLoginForm">
                    <mat-form-field class="emailLoginField md-inline-form">
                        <label>
                            <input matInput placeholder="your@email.com" />
                        </label>
                    </mat-form-field>
                </form>
                <button class="btn btn-primary" (click)="user.submitEmailAddress()">
                    Submit
                </button>
            </div>

            <button class="btn btn-primary btn-block btn-social btn-google" (click)="user.login('google')">
                <span class="fa fa-google"></span>Login with Google
            </button>
            <button class="btn btn-primary btn-block btn-social btn-facebook" (click)="user.login('facebook')">
                <span class="fa fa-facebook"></span>Login with Facebook
            </button>
            <button class="btn btn-primary btn-block btn-social btn-twitter" (click)="user.login('twitter')">
                <span class="fa fa-twitter"></span>Login with Twitter
            </button>
        </ng-template>
    </div>

    <router-outlet></router-outlet>
</div>

