<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<div *ngIf="user.uid | async as uid; else login">
    The user is logged in. {{uid}}
    <div *ngIf="user.isAdmin | async">You are an administrator.</div>
    <div>
        <button class="btn btn-block btn-social btn-danger" (click)="user.logout()">Logut</button>
    </div>
</div>

<ng-template #login>
    Please login:
    <button class="btn btn-primary btn-block btn-social btn-google" (click)="user.login()">
        <span class="fa fa-google"></span>Login with Google
    </button>
    <button class="btn btn-primary btn-block btn-social btn-facebook" (click)="user.login()">
        <span class="fa fa-facebook"></span>Login with Facebook
    </button>
    <button class="btn btn-primary btn-block btn-social btn-twitter" (click)="user.login()">
        <span class="fa fa-twitter"></span>Login with Twitter
    </button>
</ng-template>

<router-outlet></router-outlet>
