h1 {
    font-size: 2.25em;
    color: white;
    letter-spacing: -0.05em;
}

.mainContent {
    margin: 12px 0 0 0;
}

.homePageNav {
    background: white;
    padding: 4px;
    a {
        color: #223322;
        :hover {
            color: black;
        }
    }
}

.mat-card-subtitle {
    color: #ffffff;
}

.mat-card-image {
    width: 100%;
    height: auto;
    margin: 0 0 0 2px;
}

.companyLogoAEW {
    background-image: url("~src/assets/img/logos/aew.png");
    background-size: cover;
}

.events {
    width: 100%;
    background: black;
    color: #ffffff !important;
    margin: 0 0 12px 0;
    padding: 4px 8px;
}
.eventButtons {
    text-align: center;
}

.eventButtons button,
.eventButtons a{
    margin-right: 8px;
    margin-bottom: 12px;
    width: 40%;
}
