/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~angular-material/angular-material.min.css';

.mainContainer {
    background: #000;
    color: #f2f2f2;
    width: 100%;
    height: 100%;
}

.welcomeBlock {
    padding: 10% 0;
    text-align: center;
    h1 {
        color: #f3f3f3;
        letter-spacing: 0.5em;
    }
}
.mainContent {
    padding: 2px 12px;
}
